body {
  background:radial-gradient(200% 100% at bottom center,#F7F7B6,#E96F92,#75517D,#1B2947);
  background:radial-gradient(220% 105% at top center,#1B2947 10%,#75517D 40%,#E96F92 65%,#F7F7B6);
  background-attachment:fixed;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 767px) {
  body {
    overflow: auto;
  }
}

.star-background {
  overflow: hidden;
}

@keyframes rotate{
  0%{
    transform:perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
  }
  100%{
    transform:perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
  }
}
.stars{
  transform:perspective(500px);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 100%;
  left:50%;
  animation:rotate 90s infinite linear;
}
.star{
  width:0.1rem;
  height:0.1rem;
  background:#F7F7B6;
  border-radius:100%;
  position:absolute;
  top:0;
  left:0;
  transform-origin:0 0 -300px;
  transform:translate3d(0,0,-300px);
  backface-visibility:hidden;
}

.link {
  font-family: 'Avenir Next','Segoe ui',Ubuntu,sans-serif;
  text-decoration: none;
  list-style-type: none;
}

.link:hover {
  text-decoration: none;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
  color: #00E5FF;
}

.link a {
  color: #ffeddb;
  font-weight: bold;
  font-size: 2em;
}

.link button {
  color: #ffeddb;
  font-weight: bold;
  font-size: 2em;
  background-color: rgba(0,0,0,0);
  border-style: none;
  box-sizing: content-box;
  cursor: pointer;
  display: inline;
  height: auto;
  padding: 0;
  perspective-origin: 0 0;
  text-align: start;
  transform-origin: 0 0;
  width: auto;
  -moz-appearance: none;
  -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
  -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
  
}

.link a:hover {
  color: #00E5FF;
  text-decoration: none;
}

.link button:hover {
  color: #00E5FF;
  text-decoration: none;
}

.big-title {
	font-family: 'Avenir Next','Segoe ui',Ubuntu,sans-serif;
  color: #00E5FF;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 4rem;
  line-height: 1.4;
  font-weight: bold;
}

.small-title {
	font-family: 'Avenir Next','Segoe ui',Ubuntu,sans-serif;
	color: #FFF59D;
  text-transform: uppercase;
  letter-spacing: .05rem;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: bold;
}

@media (max-width: 767px) {
  .big-title {
    font-size: 2.5rem;
  }

  .small-title {
    font-size: 1.5 rem;
  }
}

.profile-img {
  border-radius: 50%;
}

.contact {
  text-align: center;
  text-transform: uppercase;
}

.contact-box {
  font-family: "Dosis", sans-serif;
  display: inline-block;
  border: 2px solid transparent;
  text-align: center;
  border-radius: 2%;
}

.contact-box a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.contact-box:hover {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.2);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 200ms ease-in;
  color: #FFFFFF;
}

.contact-box__title {
  font-size: 2rem;
}

.contact-box:hover .contact-box__title {
  font-size: 2.5rem;
}

.contact-box-select-github {
  animation-name: contact-box-size-increase;
  animation-duration: 2000ms;
}

.contact-box-select-github .contact-box__title {
  animation-name: contact-box-title-size-increase;
  animation-duration: 2000ms;
}

.contact-box-select-github .ico-hours {
  animation-name: contact-box-icon-size-increase;
  animation-duration: 2000ms;
}

.contact-box-select-github .ico-envelope {
  animation-name: contact-box-icon-size-increase;
  animation-duration: 2000ms;
}

.contact-box-select-github .ico-phone {
  animation-name: contact-box-icon-size-increase;
  animation-duration: 2000ms;
}

@keyframes contact-box-size-increase {
  0% {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    color: rgb(0, 0, 0);
  }
}

@keyframes contact-box-title-size-increase {
  0% {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  50% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
}

@keyframes contact-box-icon-size-increase {
  0% {
  }
  50% {
    color: rgb(0, 0, 0);
  }
}

.contact-box__info {
  padding: 0rem;
  margin: 0rem;
}

.contact-box__info a {
  color: #FFFFFF;
}

.contact-box__info a:hover {
  text-decoration: none;
}

.contact-box__icon {
  font-size: 2.5rem;
}

.contact-box--teal {
  color: #FFFFFF;
  background-color: #75bdbc;
  border-color: #75bdbc;
}
.contact-box--teal .contact-box__title {
  color: inherit;
}
.contact-box--teal:before {
  background-color: #75bdbc;
  border: 1px solid #75bdbc;
}
.contact-box--teal:hover {
  color: white;
}
.contact-box--teal:hover a {
  color: white;
}

.contact-box--orange {
  color: #FFFFFF;
  background-color: #f49263;
  border-color: #f49263;
}
.contact-box--orange .contact-box__title {
  color: inherit;
}

.contact-box--green {
  color: #FFFFFF;
  background-color: #8ccc80;
  border-color: #8ccc80;
}
.contact-box--green .contact-box__title {
  color: white;
}
.contact-box--green:before {
  background-color: #8ccc80;
  border: 1px solid #8ccc80;
}
.contact-box--green:hover {
  color: white;
  cursor: default;
}
.contact-box--green:hover a {
  color: white;
  cursor: default;
}

.ico-hours {
  font-size:3em;
  color: #FFFFFF;
}

.ico-envelope {
  font-size:3em;
  color: #FFFFFF;
}

.ico-phone {
  font-size:3em;
  color: #FFFFFF;
}
